<!DOCTYPE html>
<html>
<body>

<h2>Data Is Good</h2>

<p>
    Time series project Learning
</p>
<img src="static/download.jpeg" alt="AI" width="500" height="300">

<form method="POST" action="/predict_output" enctype="multipart/form-data">
  <label for="mdel_name">Model Selection: </label><br>
  <input type="text" id="mdel_name" name="mdel_name"><br>
  <label for="date_input">Date Input: </label><br>
  <input type="text" id="date_input" name="date_input"><br> 
  <input type="submit" value="Submit">
</form> 

</body>
</html>